@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"); */

@font-face {
  font-family: "Obviously";
  src: url("../fonts/Obviously_Bold_Italic.woff2") format("woff2");
  src: url("../fonts/Obviously_Bold_Italic.woff") format("woff");
  src: url("../fonts/Obviously_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("../fonts/Obviously_Bold.woff2") format("woff2");
  src: url("../fonts/Obviously_Bold.woff") format("woff");
  src: url("../fonts/Obviously_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("../fonts/Obviously_Semi_Italic.woff2") format("woff2");
  src: url("../fonts/Obviously_Semi_Italic.woff") format("woff");
  src: url("../fonts/Obviously_Semi_Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Obviously";
  src: url("../fonts/Obviously_Semi.woff2") format("woff2");
  src: url("../fonts/Obviously_Semi.woff") format("woff");
  src: url("../fonts/Obviously_Semi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
