.ease {
  transition: all 0.2s ease-in-out;
}

.underline {
  @apply underline-offset-4;
}

@screen lg {
  .dim {
    transition: opacity 0.2s ease;
    @apply opacity-100;
  }
  .dim:hover {
    @apply opacity-60;
  }
}

:disabled,
.disabled {
  @apply opacity-60 pointer-events-none;
}

.faq-item__trigger[data-state="open"] > * {
  background: var(--gradient-fire);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
