[data-radix-popper-content-wrapper] {
  z-index: calc(var(--modal-zIndex, 50) + 20);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
