@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./customer/style/index.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  outline-offset: 2px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

/* hide scrollbar in the div (Chrome, Safari and Opera) */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}
